<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" style="font-size:15px">CLOSE&times;</a>
  
    <a href="#" style="font-size:20px">Register/Log in</a>
    <a href="#"style="font-size:20px">Home</a>
    <a href="#" style="font-size:20px">Winners</a>
    <a href="#"style="font-size:20px">Nominees</a>
    <a href="#"style="font-size:20px">Academy</a>
    <a href="#"style="font-size:20px">Professional directory</a>
    <a href="#"style="font-size:20px">Jobs & Talent</a>
    <a href="#"style="font-size:20px">Blog</a>
    <a href="#"style="font-size:20px">eBook & Publications</a>
    <a href="#"style="font-size:20px">Jury2020</a>
    <a href="#"style="font-size:20px">Conferences<br>Toronto/Cancelled<br>San Francisco/Cancelled</a>
    
    <a href="#"style="font-size:20px">Activate black option<label class="switch">
  
    <input type="checkbox">
    <span class="slider round"></span>
  </label></a>
   
  </div>
  <br>
    <br>
  
  
  <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; MENU</span>

  


  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "350px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    </script>
       